<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{accion}} {{titulo}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  
  <ion-list>
    
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-textarea placeholder="{{singular}}" [(ngModel)]="nombre" type="text"></ion-textarea>
    </ion-item>
    
  </ion-list>  

  <ion-button expand="full" color="secondary" expand="block" (click)="guardar()">
    <ion-icon slot="start" name="add-outline"></ion-icon>
      Guardar
  </ion-button>

</ion-content>