<ion-header [translucent]="true">
  <ion-toolbar color="light">    
    <ion-title stacked class="my-title" color="dark">
      <div font size=4 align="center"><strong>AGENDA APP</strong></div>
      <div font size=1 align="center">{{titulo}}<i>
        <div *ngIf="subtitulo" font size=1 align="center" class="text-wrap">{{subtitulo}}</div>
          <H6></H6>
        </i></div>
      <br *ngIf="habiltarEspacio">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <br>
  <ion-list *ngFor="let ld of listaDatos">
    <ion-item >
      <ion-label>
        <h2><!--Nombre:--> {{ld.nombre}}</h2>        
      </ion-label>

      <ion-button [ngClass]="{'activated' : buttonActive}" expand="full" color="light" expand="block" (click)="insertarActividad(ld)" *ngIf="disponibleBotonPlanilla">
        <ion-icon slot="start" name="add-outline"></ion-icon>          
      </ion-button>

      <ion-button color="light" expand="block" (click)="edit(ld)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      
      <ion-button color="light" expand="block" (click)="siguienteNivel(ld)">
        <ion-icon slot="end" name="reader-outline" ></ion-icon>                
      </ion-button>
            
    </ion-item>
  </ion-list>
  <br>
  <ion-button expand="full" color="secondary" expand="block" (click)="nuevo()">
    <ion-icon slot="start" name="add-outline"></ion-icon>
      Nuevo {{boton}}
  </ion-button>
  
  

  <ion-button expand="full" color="danger" expand="block" (click)="volver()">
    <ion-icon slot="start" name="caret-back-circle-outline"></ion-icon>
      Volver
  </ion-button>
</ion-content>