<ion-header [translucent]="true">
  <ion-toolbar color="light">    
    <ion-title stacked class="my-title" color="dark">
      <div font size=4 align="center"><strong>AGENDA APP</strong></div>
      <div font size=1 align="center"><i>
          <H6>Grupo Productor</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <br>
  <ion-list *ngFor="let gp of grupoProductor">
    <ion-item button (click)="verPlanillas(planilla.nSpreadsheetId)">      
      <ion-label>
        <h2><!--Nombre:--> {{gp.nombre}}</h2>        
      </ion-label>
      <ion-icon slot="end" name="reader-outline" ></ion-icon>      
    </ion-item>
  </ion-list>
  <br>
  <ion-button expand="full" color="secondary" expand="block" (click)="nuevoGrupo()">
    <ion-icon slot="start" name="add-outline"></ion-icon>
      Nuevo grupo productor
  </ion-button>
</ion-content>