<ion-header [translucent]="true">
  <ion-toolbar color="light">    
    <ion-title stacked class="my-title" color="dark">
      <div font size=4 align="center"><strong>AGENDA APP</strong></div>
      <div font size=1 align="center"><i>
          <H6>Productos</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">      
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <form #form1="ngForm" (ngSubmit)="registrar(form1)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col>
          <div padding>           
            <ion-label stacked class="sub-title-label">Nuevo producto:</ion-label>    
            <ion-item>
              <ion-label position="floating">Nombre:</ion-label>              
              <ion-input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" ngModel required></ion-input>
            </ion-item>            
            <ion-item>
              <ion-label position="floating">Variedad</ion-label>
              <ion-input [(ngModel)]="variedad" name="variedad" type="text" placeholder="Variedad" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button expand="full" color="secondary" type="submit" [disabled]="form1.invalid" expand="block">
              <ion-icon slot="start" name="arrow-forward-outline"></ion-icon>
                {{nombreBoton}} 
            </ion-button>
            <ion-button expand="full" color="danger" expand="block" (click)="eliminar(form1)" disabled={{estadoBotonEliminar}}>
              <ion-icon slot="start" name="trash-outline"></ion-icon>              
                Eliminar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-list *ngFor="let producto of productos">
    <ion-item button (click)="editar(producto.producto_id)">
      <ion-icon slot="start" name="cart-outline" ></ion-icon>
      <ion-label>
        <h2>Nombre: {{producto.name}}</h2>     
        <h3>Variedad: {{producto.variety}}</h3>        
      </ion-label>      
    </ion-item>
  </ion-list>
  
</ion-content>