<ion-header [translucent]="true">
  <ion-toolbar color="light">    
    <ion-title stacked class="my-title" color="dark">
      <div font size=4 align="center"><strong>AGENDA APP</strong></div>
      <div font size=1 align="center"><i>
          <H6>Fincas registradas</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">      
    </ion-refresher-content>
    
  </ion-refresher>
  <ion-list *ngFor="let finca of fincas">        
      <ion-item>  
        <ion-label>
          <h2>{{finca.name}}</h2>        
        </ion-label>
        <ion-fab-button (click)="editarFinca(finca.land_id)" size="small">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
        <ion-icon slot="end" name="leaf-outline" button (click)="verSiembras(finca.land_id)">Ver siembras</ion-icon>
      </ion-item>
  </ion-list>
</ion-content>