<ion-header [translucent]="true">
  <ion-toolbar color="light">    
    <ion-title stacked class="my-title" color="dark">
      <div font size=4 align="center"><strong>AGENDA APP</strong></div>
      <div font size=1 align="center"><i>
          <H6>Planillas</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">      
    </ion-refresher-content>
    
  </ion-refresher>
  <ion-item-group *ngFor="let planilla of planillas">
    <ion-item-divider>
      <ion-icon slot="start" name="pencil-outline" button (click)="editar(planilla.planilla_id)"></ion-icon> 
      <ion-label> Formulación: </ion-label>        
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>{{planilla.fecha_formulacion}} </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Finca: </ion-label>
      <ion-label>{{planilla.fincaNombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lote: </ion-label>
      <ion-label>{{planilla.lote}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Actividad: </ion-label>
      <ion-label>{{planilla.actividad}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Control: </ion-label>
      <ion-label>{{planilla.control}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fertilización: </ion-label>
      <ion-label>{{planilla.fertilizacion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Producto: </ion-label>
      <ion-label>{{planilla.producto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dosis: </ion-label>
      <ion-label>{{planilla.dosis}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mezcla total: </ion-label>
      <ion-label>{{planilla.mezcla_total}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total dosis: </ion-label>
      <ion-label>{{planilla.total_dosis}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Elaborado: </ion-label>
      <ion-label> {{planilla.elaborado}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha aplicación: </ion-label>
      <ion-label> {{planilla.fecha_aplicacion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estado: </ion-label>
      <ion-label>  {{planilla.estado}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Calidad ejecución: </ion-label>
      <ion-label>  {{planilla.calidad_ejecucion}}</ion-label>
    </ion-item>
  </ion-item-group>

  <div>                   
                 
</div>
  <section class="full-width">    
    <ion-button expand="full" color="secondary" (click)="registrar()">Ingresar nueva planilla</ion-button>
  </section>
</ion-content>